@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Circular Std";
  src: url("Circular\ Std\ Font.otf");
}

.fixed-top {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
.top-bar {
  background: #ffffff;
  z-index: 1;
}

/* NavBar Text */

.nav-text {
  left: 114px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 28px;
  color: #1e1e1e;
}

.current-page {
  color: #ff592b;
}
.home-line {
  width: 50px;
  height: 2px;
  background: #ff592b;
  border-radius: 2px;
}

.top-bar {
  padding: 10px 100px 30px;
}

input[type="text"] {
  box-sizing: border-box;
  border: 1px solid #999999;
  border-radius: 12px;
  width: 220px;
  height: 50px;
  padding-left: 40px;
  margin-left: 10px;
  font-size: 12px;
}

.navbar-nav {
  padding-left: 100px;
}

.fa-search {
  position: absolute;
  right: 28.5%;
  top: 43px;
  bottom: 17.86%;
  color: #999999;
  font-size: 12px;
}

.fa-cart-shopping {
  color: #000000;
}

.circle {
  align-items: center;
  padding: 7px 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100px;
  margin-left: 20px;
  margin-top: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}

/* Top */

#top {
  background: #fff7f5;
  padding-top: 120px;
}
#top .container {
  background: #fff7f5;
}

#top .position-relative {
  background: #fff7f5;
  padding-bottom: 180px;
}

#top h1 {
  margin-top: 100px;
  height: 128px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bolder;
  font-size: 35px;
  line-height: 64px;
  color: #000000;
}

#top p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

/* .top-col {
  padding-left: 120px;
  padding-top: 50px;
} */

.shop-btn {
  background: #ff592b;
  border-radius: 8px;
  border: 0px;
  color: #ffffff;
}

.shop-btn:hover {
  background-color: #fff7f5;
  color: #ff592b;
  border: 1px solid #ff592b;
}

.shop-btn .text {
  width: 100px;
  margin-top: 5px;
  height: 25px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
}

.explore-btn {
  border-radius: 8px;
  border: 1px solid #ff592b;
  border-radius: 8px;
  color: #ff592b;
}

.explore-btn:hover {
  background-color: #ff592b;
  color: #fff;
}
.explore-btn .text {
  width: 100px;
  margin-top: 5px;
  height: 25px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
}

.broken-circle {
  box-sizing: border-box;
  margin: 50px 0px 0px 60px;
  width: 380px;
  height: 380px;
  color: #000000;
  position: absolute;
  right: 70px;
  top: 10px;
}

.woman {
  position: absolute;
  width: 500px;
  height: 580px;
  right: -40px;
  top: 40px;
  filter: drop-shadow(10px 20px 40px rgba(30, 30, 30, 0.2));
}

.small-img1 {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 280px;
  top: 40px;
}

.small-img2 {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 50px;
  top: 160px;
}

.small-img3 {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 420px;
  top: 260px;
}

.card1 {
  position: absolute;
  width: 200px;
  height: 70px;
  right: 330px;
  top: 393px;
  background: #ffffff;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 5px;
}

.card2 {
  position: absolute;
  width: 200px;
  height: 70px;
  right: -10px;
  top: 455px;
  background: #ffffff;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 5px;
}
#top .text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.special-img {
  margin-left: -50px;
}

.small-img4 {
  width: 30px;
  height: 30px;
  margin-left: -20px;
  text-align: left;
}

.small-img5 {
  width: 35px;
  height: 35px;
  margin-left: -20px;
  text-align: left;
  margin-top: 5px;
}

.small-img6 {
  width: 10px;
  height: 10px;
  margin-left: -26px;
  text-align: left;
}

/* Partner */

#partner .container-fluid {
  background: #fcfbfb;
}

.col2boxed {
  display: block;
  text-align: center;
}

.partner-img {
  width: 100%;
  height: 100%;
}

/* Mobile  */

@media only screen and (max-width: 768px) {
  #top {
    background: #fff7f5;
    padding-top: 20px;
  }

  .partner-img {
  }

  .fa-search {
    display: none;
  }
  .fa-cart-shopping {
    display: none;
  }

  #top h1 {
    margin-top: 100px;
    height: 128px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bolder;
    font-size: 33px;
    line-height: 64px;
    color: #000000;
    margin-bottom: 20px;
  }
  .col2boxed {
    display: block;
    padding-bottom: 0px;
  }
  .broken-circle {
    position: absolute;
    width: 280px;
    height: 280px;
    color: #000000;
    text-align: center;
    top: 460px;
    right: 84px;
  }

  .woman {
    position: absolute;
    width: 360px;
    height: 440px;
    right: 18px;
    top: 495px;
    filter: drop-shadow(10px 20px 40px rgba(30, 30, 30, 0.2));
  }

  .small-img1 {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 240px;
    top: 500px;
  }

  .small-img2 {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 70px;
    top: 590px;
  }

  .small-img3 {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 350px;
    top: 670px;
  }

  .card1 {
    position: absolute;
    width: 150px;
    height: 70px;
    right: 280px;
    top: 753px;
    background: #ffffff;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 5px;
  }

  .card2 {
    position: absolute;
    width: 150px;
    height: 70px;
    right: 30px;
    top: 793px;
    background: #ffffff;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 5px;
  }

  #top .text {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }
}

/* 


#top {
  background: #fff7f5;
  padding-top: 120px;
}
#top .container {
  width: 100%;

  padding-bottom: 127px;
}

#top h1 {
  margin-top: 100px;
  height: 128px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bolder;
  font-size: 35px;
  line-height: 64px;
  color: #000000;
}

#top p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}



.shop-btn {
  background: #ff592b;
  border-radius: 8px;
  border: 0px;
}

.shop-btn .text {
  width: 100px;
  margin-top: 5px;
  height: 25px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
}

.explore-btn {
  border-radius: 8px;
  border: 1px solid #ff592b;
  border-radius: 8px;
}

.explore-btn .text {
  width: 100px;
  margin-top: 5px;
  height: 25px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #ff592b;
}

.broken-circle {
  box-sizing: border-box;
  margin: 50px 0px 0px 60px;
  width: 380px;
  height: 380px;
  color: #000000;
  transform: rotate(-145.14deg);
}

.woman {
  position: absolute;
  width: 500px;
  height: 580px;
  right: 100px;
  top: 180px;
  filter: drop-shadow(10px 20px 40px rgba(30, 30, 30, 0.2));
}

.small-img1 {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 420px;
  top: 190px;
}

.small-img2 {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 190px;
  top: 300px;
}

.small-img3 {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 560px;
  top: 410px;
}

.card1 {
  position: absolute;
  width: 200px;
  height: 70px;
  right: 470px;
  top: 533px;
  background: #ffffff;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 5px;
}

.card2 {
  position: absolute;
  width: 200px;
  height: 70px;
  right: 130px;
  top: 595px;
  background: #ffffff;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 5px;
}
#top .text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.special-img {
  margin-left: 40px;
}

.small-img4 {
  width: 30px;
  height: 30px;
  margin-left: -20px;
  text-align: left;
}

.small-img5 {
  width: 35px;
  height: 35px;
  margin-left: -20px;
  text-align: left;
  margin-top: 5px;
}

.small-img6 {
  width: 10px;
  height: 10px;
  margin-left: -26px;
  text-align: left;
}



#partner .container-fluid {
  width: 100%;
  background: #fcfbfb;
  z-index: 10;
  position: relative;
}

.second {
  display: block;

  text-align: center;
}
 */
